{{ define "main" }}
  <div role="main" class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <!--
        {{ with .Content }}
          <div class="well">
            {{.}}
          </div>
        {{ end }}
        -->
        <div class="container-calc">
            <div class="input-group">
                <label for="salary" data-i18n="salary_label">{{ i18n "salary" }}</label>
                <input type="number" id="salary" min="0">
            </div>

            <div class="input-group employment-period-group">
                <label data-i18n="employment_period">{{ i18n "employment period" }}</label>
                <div class="employment-period-inputs">
                    <label for="start_date" data-i18n="start_date_label">{{ i18n "start date" }}</label>
                    <input type="date" id="start_date">
                    <label for="end_date" data-i18n="end_date_label">{{ i18n "expected end date" }}</label>
                    <input type="date" id="end_date">
                </div>
            </div>

            <div class="input-group">
                <label for="reason" data-i18n="reason_label">{{ i18n "reason for termination" }}</label>
                <select id="reason">
                    <option value="unjustified" data-i18n="unjustified_reason">{{ i18n "unjustified dismissal" }}</option>
                    <option value="justified" data-i18n="justified_reason">{{ i18n "justified dismissal" }}</option>
                </select>
            </div>
            <button onclick="calculateSeverance()" data-i18n="calculate_button">{{ i18n "calculate" }}</button>
            <div id="result" class="result"></div>
        </div>

      </div>
    </div>
  </div>
{{ end }}

